<p><h3>Authorization page</h3></p>
<form action="/authorize", method="POST">
  <label>Name</label>
  <input type="text" name="userName"><br>
  <label>Password</label>
  <input type="password" name="userPass"><br>
  <input type="submit" value="Sign in">
</form>